#mapid {
	height: 180px;
}

body {
	font-family: Myriad Pro, Verdana, Helvetica;
	background-color: #777777;
}

.panel-footer {
	position: fixed;
	bottom: 0;
	height: 58px;
	width: 100%;
	background-color: #803f00;
	color: #cb863e;
	text-align: center;
}